.modal-header {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.modal-header > .modal-title {
  display: grid;
  justify-content: center;
  margin: 1em;
}

.modal-header > .contact-form {
  width: 50%;
  height: 100%;
  margin: 1em;
  font-size: 0.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-areas:
    'n n e e'
    'm m m m'
    'm m m m'
    'x s s x'; */
  /* n = name
     e = email
     m = message
     s = send
  */
}

/* .form-name {
  grid-area: n;
}

.form-email {
  grid-area: e;
}

.form-text {
  grid-area: m;
}

.form-submit {
  grid-area: s;
} */
